---
---

@import "{{ site.theme }}";

#header > nav > ul > li#home {
  float: left;
  margin-left: 0px;
  margin-right: 20px;
}

#header > nav > ul > li.category {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

#header > nav > ul > li.meta {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
